@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap');
*{
    margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	text-decoration: none;
	list-style: none;
    background-color: #cbd6cc;
    font-family: 'Ma Shan Zheng', cursive;
}
.main a{
    display: block;
	width: 320px;
	height: 200px;
	background-color: #849c92;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	    -ms-transform: translate(-50%,-50%);
	        transform: translate(-50%,-50%);
    border-radius: 8px;
    box-shadow: 0px 0px 25px #687b73;
    overflow: hidden;
}
.main a .top{
    width: 320px;
    height: 40px;
    background-color: #e8ede5;
    position: relative;
}
.main a .top::after{
    content: '';
    width: 0;
    height: 0;
    display: block;
    border-left: 160px solid transparent;
    border-top: 100px solid #e8ede5;
    border-right: 160px solid transparent;
    position: absolute;
    bottom: -99px;
    left: 0;
}
/* happybirthday */
.a35{
    width: 100%;
}
.a35 img{
    object-fit:cover
}